.loginScreen{
    height: 100%;
    position: relative;
    background-image: url("https://i.pinimg.com/originals/ae/48/66/ae4866824012b855e82a358960c1d0d6.jpg");
    background-size: cover;
    border: 2px solid black;
    /* height: 1000px;
    width: 1362px; */

}



.loginScreen__logo{
    position: fixed;
    left: 0;
    top: 8px;
    width: 80px;
    height: auto;
    float: left;
    display: flex;
    padding-left: 20px;
    cursor: pointer;
}

.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0,0,0,0.4) ;
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0,) 60%,
        rgba(0,0,0,0.8) 100%
    );
}



.loginScreen__button{

    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1 rem;
    color: white;
    background-color: #1f469b;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.loginScreen__body{
    z-index: 1;
    color: white;
    padding: 20px;
    position: absolute;
    top: 30%;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    justify-content: center;
    left: 0;
    right: 0;
}


.loginScreen__body>h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}


.loginScreen__body>h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body>h3{
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen__input>form>input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border:none;
    max-width: 600px;
    border-radius: 10px;
}

.loginScreen__input{
    margin: 20px;
}

.login__button{
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #1f469b;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 2px;

}